:deep(.el-pagination.is-background .el-pager li:not(.disabled).active) {
  background-color: #3496FB;
}

:deep(.el-select-dropdown__item.selected) {
  color: #3496FB;
}

:deep(.el-button) {
  padding: 3px 6px;
}

:deep(.el-button--default) {
  // --el-button-hover-text-color:#ff9809;
  --el-button-active-bg-color: #3496FB;
  --el-button-hover-bg-color: #3496FB;
  --el-button-active-border-color: #3496FB;
  --el-button-hover-border-color: #3496FB;
  --el-button-hover-text-color: #fff;
  --el-button-active-text-color: #fff;
}